<br />
<h1>Cart Id: {{cartId}}</h1>
<div>
  <h2>Producto:</h2>
  {{#each cartProducts}}
    <div>
      <p>Product Id: {{this._id}}</p>
      <p>Title: {{this.title}}</p>
      <p>Description: {{this.description}}</p>
      <p>Price: {{this.price}}</p>
      <p>Code: {{this.code}}</p>
      <p>Stock: {{this.stock}}</p>
      <p>Category: {{this.category}}</p>
      <p>Status: {{this.status}}</p>
      <p>Thumbnail: {{this.thumbnail}}</p>
      <p>Quantity: {{this.quantity}}</p>
      <br />
    </div>
  {{/each}}
</div>