<br />
<form id="cartForm">
<input type="hidden" name="cid" value="{{cartId}}">Cart Id: {{cartId}}</input>
<br />
<br />
<input type="submit" value="Generar ticket"/ >
{{!-- <a href="/api/v1/carts/{{cartId}}/purchase">Generar ticket</a> --}}
<br />
<br />
<input type="reset" value="Vaciar carrito"/ >
</form>
<div>
  <h2>Producto:</h2>
  {{#each cartProducts}}
    <div>
      <h3>Product Id: {{this._id}}</h3>
      <p>Title: {{this.title}}</p>
      <p>Description: {{this.description}}</p>
      <p>Price: {{this.price}}</p>
      <p>Code: {{this.code}}</p>
      <p>Stock: {{this.stock}}</p>
      <p>Category: {{this.category}}</p>
      <p>Status: {{this.status}}</p>
      <p>Thumbnail: {{this.thumbnail}}</p>
      <p>Quantity: {{this.quantity}}</p>
      <br />
      <a href="/product/detail/{{this._id}}"><button>Detalle del producto</button></a>
    </div>
  {{/each}}
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/cart.js"></script>