<div>
  <h1>Bienvenido {{name}}</h1>
  <form id="productForm">
    <p>email: {{email}}</p>
    {{#if cart}}
    <p>Edad: {{age}}</p>
    {{/if}}
    <p>Role: {{role}}</p>
    {{#if cart}}
    <p>Cart: {{cart}}<input type="hidden" name="cid" value="{{cart}}" /></p>
    <br />
    <br />
    <a href="/cart/{{cart}}">Ver carrito</a>
    <br />
    <br />
    {{/if}}
    <a href="/api/v1/sessions/logout">Logout</a>
    <br />
    <br />
    <h2>Detalle de Producto:</h2>
    <div>
      <p>id: {{_id}}<input type="hidden" name="pid" value="{{_id}}" /></p>
      <p>Title: {{title}}</p>
      <p>Description: {{description}}</p>
      <p>Price: {{price}}</p>
      <p>Code: {{code}}</p>
      <p>Stock: {{stock}}</p>
      <p>Category: {{category}}</p>
      <p>Status: {{status}}</p>
      <p>Owner: {{owner}}</p>
      <p>Thumbnail: {{thumbnail}}</p>
      {{#if userNotAdminOrOwner}}
      {{#if cart}}
      <p>Cantidad: <input type="number" name="quantity" /></p>
      <br />
      <input type="submit" />
      <br />
      {{/if}}
      {{/if}}
      {{#if userAdminOrOwner}}
      <br />
      <input type="reset" value="Eliminar" />
      <br />
      {{/if}}
    </div>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/product.js"></script>