<h1>Tercer preentrega Programacion BackEnd</h1>
<form id="productForm">
<h2>Bienvenido {{name}}</h2>
<p>email: {{email}}</p>
<p>Edad: {{age}}</p>
<p>Role: {{role}}</p>
<input type="hidden" name="cid" value="{{cart}}">Cart: {{cart}}</input>
<br />
<br />
<a href="/cart/{{cart}}">Ver carrito</a>
<br />
<br />
<a href="/api/v1/sessions/logout">Logout</a>
<br />
<br />
<h2>Producto:</h2>
<div>
  <input type="hidden" name="pid" value="{{_id}}">id: {{_id}}</input>
  <p>Title: {{title}}</p>
  <p>Description: {{description}}</p>
  <p>Price: {{price}}</p>
  <p>Code: {{code}}</p>
  <p>Stock: {{stock}}</p>
  <p>Category: {{category}}</p>
  <p>Status: {{status}}</p>
  <p>Thumbnail: {{thumbnail}}</p>
  <p>Cantidad: <input name="quantity"></input></p>
  <br />
  <input type="submit" / >
  <br />
</div>
</form>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/product.js"></script>