<br />
<h1>Segunda preentrega Backend</h1>
<h2>Producto:</h2>
<p>Cart id: 6434c6d595f9e8d1043cb867</p>
<div>
  <br />
  <p>Id: {{_id}}</p>
  <p>Title: {{title}}</p>
  <p>Description: {{description}}</p>
  <p>Price: {{price}}</p>
  <p>Code: {{code}}</p>
  <p>Stock: {{stock}}</p>
  <p>Category: {{category}}</p>
  <p>Status: {{status}}</p>
  <p>Thumbnail: {{thumbnail}}</p>
  <br />
  <a href="/6434c6d595f9e8d1043cb867/product/{{_id}}"><button>Agregar a carrito</button></a>
  <br />
</div>