<div>
  <h1>Mocking</h1>

  {{#each productsArray}}
    <div>
      <h2>id: {{_id}}</h2>
      <p>Title: {{title}}</p>
      <p>Description: {{description}}</p>
      <p>Price: {{price}}</p>
      <p>Code: {{code}}</p>
      <p>Stock: {{stock}}</p>
      <p>Category: {{category}}</p>
      <p>Status: {{status}}</p>
      <p>Thumbnail: {{thumbnail}}</p>
      <br />
    </div>
  {{/each}}
</div>