<div>
  <form id="profileForm">
    <h1>Datos del perfil</h1>
    <p>Nombre y apellido: {{user.name}}</p>
    {{#if user.cart}}
    <p>Edad: {{user.age}}</p>
    {{/if}}
    <p>Email: {{user.email}}</p>
    <p>Role: {{user.role}}</p>
    {{#if user.cart}}
    <p>Cart: {{user.cart}}</p>
    <a href="/cart/{{user.cart}}"><button>Ver carrito</button></a>
    <br />
    <br />
    <input type="hidden" name="uid" value="{{user._id}}"></input>
    <input type="hidden" name="verified_documentation" value="{{user.verified_documentation}}"></input>
    <input type="submit" value="Cambiar rol"></input>
    <br />
    {{/if}}
  </form>
  <a href="/products"><button>Ver productos</button></a>
  {{#if premium}}
  <br />
  <br />
  <a href="/addProduct"><button>Crear o borrar productos</button></a>
  {{/if}}
  <br />
  <br />
  <a href="/api/v1/sessions/logout"><button>Logout</button></a>
  <br />
  <br />
  <a href="/documents"><button>Subir documentacion</button></a>

</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/profile.js"></script>