<h1>Bienvenido {{user.name}}</h1>
{{#if adminNotView}}
<p>Edad: {{user.age}}</p>
{{/if}}
<p>Email: {{user.email}}</p>
<p>Role: {{user.role}}</p>
{{#if adminNotView}}
<p>Cart: {{user.cart}}</p>
{{/if}}
<a href="/api/v1/sessions/logout"><button>Logout</button></a>
<br />
<br />
<a href="/"><button>Ver perfil</button></a>
{{#if adminNotView}}
<br />
<br />
<a href="/cart/{{user.cart}}"><button>Carrito</button></a>
{{/if}}
<br />
<br />
<h2>Tickets:</h2>
{{#each ticketsArray}}
<div>
  <p>Id: {{this._id}}</p>
  <p>Code: {{this.code}}</p>
  <p>Purchase datetime: {{this.purchase_datetime}}</p>
  <p>Amount: {{this.amount}}</p>
  <p>Purchaser: {{this.purchaser}}</p>
  <p>Payment complete: {{this.payment_complete}}</p>
  <a href="/tickets/{{this._id}}"><button>Detalle</button></a>
  <br />
  <br />
  <br />
</div>
{{/each}}