<div>
  <h1>Pagina para seleccion de usuario</h1>
  <a href="/"><button>Ver perfil</button></a>
  <br />
  <br />
  <a href="/api/v1/sessions/logout"><button>Logout</button></a>

  <br />
  <br />
  <form id="userForm">
    <input type="reset" value="Eliminar usuarios inactivos"></input>
  </form>
  <br />
  <h2>Usuarios:</h2>
  {{#each usersArray}}
  <div>
    <p>Nombre: {{this.first_name}} {{this.last_name}}</p>
    <p>Email: {{this.email}}</p>
    <p>Role: {{this.role}}</p>
    <a href="/users/{{this._id}}"><button>Detalle</button></a>
    <br />
    <br />
  </div>
  {{/each}}
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/user.js"></script>